// *****************
// ***** FONTS *****
// *****************
// string replace for mixin font-face
@function str-replace($string, $search, $replace: "") {
    $index: str-index($string, $search);
    @if $index {
        @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }
    @return $string;
}

// mixin font-face 
@mixin font-face($name, $path, $weight: null, $style: null, $exts: ttf) {
    $src: null;
    $extmods: ( eot: "?", svg: "#" + str-replace($name, " ", "_"));
    $formats: ( otf: "opentype", ttf: "truetype");
    @each $ext in $exts {
        $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
        $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
        $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
    }
    @font-face {
        font-family: quote($name);
        font-style: $style;
        font-weight: $weight;
        src: $src;
    }
}

@include font-face(PFDinTextCondPro,
"../fonts/PFDinTextCondPro/PFDinTextCondPro");
@include font-face(PFDinCondensedThinItalic,
"../fonts/PFDinTextCondPro/PFDinCondensedThinItalic");
@include font-face(pfdintextcondpro_regular,
"../fonts/PFDinTextCondPro/pfdintextcondpro-regular-webfont");
@include font-face(pfdintextcondpro_bold,
"../fonts/PFDinTextCondPro/pfdintextcondpro-bold-webfont");
@include font-face(pfdintextcondpro_medium,
"../fonts/PFDinTextCondPro/pfdintextcondpro-medium-webfont");
@include font-face(pfdintextcondpro_light,
"../fonts/PFDinTextCondPro/pfdintextcondpro-light-webfont");
@include font-face(pfdintextcomppro_lightitalic,
"../fonts/PFDinTextCondPro/pfdintextcomppro-lightitalic");
