// *********************
// ***** VARIABLES *****
// *********************
// --- fonts ---
$pf-regular: 'pfdintextcondpro_regular';
$pf-bold: 'pfdintextcondpro_bold';
$pf-medium: 'pfdintextcondpro_medium';
$pf-light: 'pfdintextcondpro_light';
$pf-lightitalic: 'pfdintextcomppro_lightitalic';
// --- colors ---
$color-black: #000000;
$color-white: #ffffff;
$color-orange: #ff8400;
$color-orange-hover: #ff4e00;
$color-orange-border: #fdc029;
$color-grey-text: #2b2a28;
$color-grey-border:#4e5659;
$color-black-checkbox: #0d191e;
